.holder{
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.frame{
    overflow: hidden;    
}

.header{
    background-color: #2F3841;
    color: #fff;
    display: block;
    font-size: 28px;
    text-align: center;
    padding: 8px 0;
    font-weight: 300;
}